{% extends "layouts/base.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>{% block title %} {{data.page}} - Smart Systems Ltd. {% endblock %}</title>

    <!-- Stylesheets -->
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/responsive.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ url_for('static', path='/js/respond.js') }}"></script><![endif]-->

    <style>
        .page-title .cws-image-bg:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgb(88,110,111);
            background: -moz-linear-gradient(left, rgba(88,110,111,1) 0%, rgba(54,162,104,1) 50%, rgba(15,120,96,1) 100%);
            background: -webkit-linear-gradient(left, #009de6 0%,#009de6 50%,#009de6 100%);
            background: linear-gradient(to right, #009de6 0%,#009de6 50%,#009de6 100%);
            /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#039;#586e6f&#039;, endColorstr=&#039;#0f7860&#039;,GradientType=1 ); */
            opacity: 0.9;
        }
        .clients-section {
            position: relative;
            padding: 50px 0;
            background-color: #189ad7;
        }
        .mission-block .icon {
            position: relative;
            display: block;
            height: 200px;
            width: 200px;
            margin: 0 auto 20px;
            background-color: #9fe1ff;
            border-radius: 50%;
            /* border: 5px solid #222222; */
            line-height: 190px;
            font-size: 120px;
            color: #000000;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        .our-mission {
            padding-bottom: 90px;
            padding-top: 30px;
        }
        /* .our-mission {
            padding: 0;
        } */
        .about-section-three {
        position: relative;
        padding-top: 150px;
        padding-bottom: 50px;
        margin-top: -130px;
        z-index: 1;
    }
    </style>

{% endblock %}

{% block page_content %}

    <!--Page Title-->
    <section class="page-title">
        <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x1080)">
            <div class="cws-overlay-bg"></div>
        </div>

        <div class="auto-container">
            <h1>About Us</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- About Section Three -->
    <section class="about-section-three">
         <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-sky" style="background-image: url(https://via.placeholder.com/1920x900)"></div>
            <!-- <div class="cws-triangle-overlay bottom-left"></div> -->
            <!-- <div class="cws-triangle-overlay bottom-right"></div> -->
        </div>

        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title" style="text-align: center;"><h2>WHO WE ARE</h2></div>
                        <p style="text-align: justify">Smart Systems, is more than just an expert in smart automation; we are your entryway to a time when technology will be smoothly integrated into everyday life. We're bringing the extraordinary into everyday life with smart homes that anticipate your every need and integrated solutions that redefine industries. Founded in 2021, we're on a mission to revolutionize how you live, work, and interact with your surroundings. Our vision goes beyond automation – we're crafting experiences that bring the future to your doorstep right now.
                            Join us in this journey as we redefine the present and create a future that was once deemed only possible in dreams. Explore the possibilities, embrace the transformation, and experience the future today with Smart Systems. Transform your living spaces into intelligent hubs that respond to your every need. Discover seamless control of lighting, security, climate, entertainment, and more, all at your fingertips. We're bringing the extraordinary into everyday life with smart homes that anticipate your every need and integrated solutions that redefine industries.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section Three -->

    <!-- Our Misiion -->
    <section class="our-mission">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>OUR MISSION</h2>
                <div class="text">Our mission is to provide people with a glimpse into the future of living through our smart technologies, which is ambitious and promising. Our focus on staying at the forefront of innovation and enhancing people's lives with advanced automation solutions is likely to drive our success.
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Misiion -->

{% endblock %}

{% block scripts %}
    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-alt-up"></span></div>

    <script src="{{ url_for('static', path='/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', path='/js/owl.js') }}"></script>
    <script src="{{ url_for('static', path='/js/wow.js') }}"></script>
    <script src="{{ url_for('static', path='/js/appear.js') }}"></script>
    <script src="{{ url_for('static', path='/js/odometer.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
{% endblock %}