{% extends "layouts/base.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>{% block title %} {{data.page}} - Smart Systems Ltd. {% endblock %}</title>

    <!-- Stylesheets -->
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/responsive.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ url_for('static', path='/js/respond.js') }}"></script><![endif]-->

    <style>
        .contact-map-section {
            position: relative;
            padding: 500px 0 145px;
        }
        .contact-map-section .content-column .inner-column {
            position: relative;
            padding-left: 25px;
            margin-top: 90px;
        }
        .page-title .cws-image-bg:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgb(88,110,111);
            background: -moz-linear-gradient(left, rgba(88,110,111,1) 0%, rgba(54,162,104,1) 50%, rgba(15,120,96,1) 100%);
            background: -webkit-linear-gradient(left, #009de6 0%,#009de6 50%,#009de6 100%);
            background: linear-gradient(to right, #009de6 0%,#009de6 50%,#009de6 100%);
            /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#039;#586e6f&#039;, endColorstr=&#039;#0f7860&#039;,GradientType=1 ); */
            opacity: 0.9;
        }
        .contact-info .contact-block .icon {
            position: absolute;
            left: 0;
            top: 0;
            height: 70px;
            width: 70px;
            background-color: #009de6;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 30px;
            color: #ffffff;
            margin: 0 0 20px;
        }
        .contact-info .contact-block h5 {
            font-size: 24px;
            color: #009de6;
            font-weight: 700;
            margin-bottom: 10px;
        }
    </style>

{% endblock %}

{% block page_content %}

    <!--Page Title-->
    <section class="page-title">
        <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x1080)">
            <div class="cws-overlay-bg"></div>
        </div>

        <div class="auto-container">
            <h1>Contacts</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Contacts</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Map Section -->
    <section class="contact-map-section">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg">
                <div class="cws-triangle-overlay"></div>
                <div class="map-outer">
                    <!-- <iframe src="" height="450" style="border:0; width:100%;"></iframe> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14605.82699006285!2d90.39455788436834!3d23.766744416386754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c781bbc20d1d%3A0xc9427ec3e21bc8f6!2sDhaka%201219!5e0!3m2!1sen!2sbd!4v1701617923780!5m2!1sen!2sbd" height="450" style="border:0; width:100%;"></iframe>
                </div>
            </div>
        <!-- </div> -->


        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 offset-6">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>HOW TO REACH US</h2>
                        </div>
                        <h4>Dhaka, Bangladesh</h4>
                        <div class="contact-info row">
                            <div class="contact-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner">
                                    <span class="icon fa fa-map-signs"></span>
                                    <h5>Address</h5>
                                    <p>348/a, Khilgaon, Dhaka-1216</p>
                                </div>
                            </div>

                            <div class="contact-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner">
                                    <span class="icon fa fa-phone"></span>
                                    <h5>Contact Details</h5>
                                    <p>+8801726275678</p>
                                    <p>+8801799413357</p>
                                    <p>ssystems.bd@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Map Section -->

{% endblock %}

{% block scripts %}
    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-alt-up"></span></div>

    <script src="{{ url_for('static', path='/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', path='/js/owl.js') }}"></script>
    <script src="{{ url_for('static', path='/js/wow.js') }}"></script>
    <script src="{{ url_for('static', path='/js/appear.js') }}"></script>
    <script src="{{ url_for('static', path='/js/odometer.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
{% endblock %}