{% extends "layouts/base.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>{% block title %} {{data.page}} - Smart Systems Ltd. {% endblock %}</title>

    <!-- Stylesheets -->
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/responsive.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ url_for('static', path='/js/respond.js') }}"></script><![endif]-->

{% endblock %}

{% block page_content %}

    <!--Page Title-->
    <section class="page-title">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x1080)">
                <div class="cws-overlay-bg"></div>
            </div>
            <div class="cws-triangle-overlay bottom-left"></div>
            <div class="cws-triangle-overlay bottom-right"></div>
        </div>

        <div class="auto-container">
            <h1>Our Services</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Our Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Services Section Three -->
    <section class="services-section-three">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x1080)">
                <div class="cws-overlay-bg"></div>
            </div>
            <div class="cws-triangle-overlay bottom-right"></div>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>SERVICES WE PROVIDE</h2>
                <div class="text">Nunc eu turpis id nulla sodales luctus. Vestibulum fermentum dui faucibus ligula dapibus scelerisque. Etiam laoreet vitae est vitae convallis. Nulla vel laoreet erat, ac dictum magna. Fusce gravida, magna in mollis mattis, mauris tellus consequat eros, ac venenatis augue urna a dui.</div>
            </div>
            <div class="row">
                <!-- Service Block Four -->
                <div class="service-block-four col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-lamp-1"></span></div>
                        <h4>Smart Lightning</h4>
                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-plug"></span></div>
                        <h4>Energy Saving</h4>
                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-heater-1"></span></div>
                        <h4>Smart Heating</h4>
                    </div>
                </div>

                <!-- Service Block Four -->
                <div class="service-block-four col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-home-1"></span></div>
                        <h4>Security Protection</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section Three -->

    <!-- Fluid Section One -->
    <section class="fluid-section-one">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x800)">
                <div class="cws-overlay-bg"></div>
                <div class="cws-triangle-overlay"></div>
            </div>
            <div class="cws-triangle-overlay bottom-left"></div>
        </div>

        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-5 col-md-12 col-sm-12 offset-7">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>HOME CINEMA INTEGRATION</h2>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus.</div>
                        </div>
                        <ul class="list-style-two">
                            <li>100% Wire-Free – Free of power cords</li>
                            <li>HD Video – Enjoy sharp, detailed video</li>
                            <li>Rechargeable – Long lasting batteries.</li>
                            <li>Quick Charging – Get fast battery charging</li>
                            <li>2-way Audio – Listen in or talk back.</li>
                        </ul>
                        <div class="btn-box"><a href="#" class="theme-btn btn-style-one large">Try it Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fluid Section One -->

    <!-- Skills Section -->
    <section class="skills-section">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x800)">
                <div class="cws-overlay-bg"></div>
                <div class="cws-triangle-overlay"></div>
            </div>
            <div class="cws-triangle-overlay bottom-right"></div>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>EVERYTHING YOU NEED</h2>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus. Fusce odio nulla, consectetur in sagittis eget, vulputate at lacus.</div>
            </div>

            <div class="skills-outer">
                <div class="row">
                    <!-- Pie Graph -->
                    <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                        <div class="graph-outer">
                            <input type="text" class="dial" data-fgColor="#539760" data-bgColor="#c6dac9" data-width="136" data-height="136" data-linecap="normal"  value="80">
                            <div class="inner-text count-box"><span class="count-text txt" data-stop="80" data-speed="2000"></span>%</div>
                        </div>
                        <h4>Marketing</h4>
                    </div>

                    <!-- Pie Graph -->
                    <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                        <div class="graph-outer">
                            <input type="text" class="dial" data-fgColor="#539760" data-bgColor="#c6dac9" data-width="136" data-height="136" data-linecap="normal"  value="90">
                            <div class="inner-text count-box"><span class="count-text txt" data-stop="90" data-speed="2000"></span>%</div>
                        </div>
                        <h4>Design</h4>
                    </div>

                    <!-- Pie Graph -->
                    <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                        <div class="graph-outer">
                            <input type="text" class="dial" data-fgColor="#539760" data-bgColor="#c6dac9" data-width="136" data-height="136" data-linecap="normal"  value="75">
                            <div class="inner-text count-box"><span class="count-text txt" data-stop="75" data-speed="2000"></span>%</div>
                        </div>
                        <h4>Innovative</h4>
                    </div>

                    <!-- Pie Graph -->
                    <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                        <div class="graph-outer">
                            <input type="text" class="dial" data-fgColor="#539760" data-bgColor="#c6dac9" data-width="136" data-height="136" data-linecap="normal"  value="85">
                            <div class="inner-text count-box"><span class="count-text txt" data-stop="85" data-speed="2000"></span>%</div>
                        </div>
                        <h4>Innovative</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Skills Section -->

    <!-- Fluid Section One -->
    <section class="fluid-section-one style-two">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x800)">
                <div class="cws-overlay-bg"></div>
                <div class="cws-triangle-overlay"></div>
            </div>
            <div class="cws-triangle-overlay bottom-left"></div>
        </div>

        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-5 col-md-12 col-sm-12 offset-7">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>SMART LIGHT SCENES</h2>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus.</div>
                        </div>
                        <ul class="list-style-two">
                            <li>100% Wire-Free – Free of power cords</li>
                            <li>HD Video – Enjoy sharp, detailed video</li>
                            <li>Rechargeable – Long lasting batteries.</li>
                            <li>Quick Charging – Get fast battery charging</li>
                            <li>2-way Audio – Listen in or talk back.</li>
                        </ul>
                        <div class="btn-box"><a href="#" class="theme-btn btn-style-one large">Try it Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fluid Section One -->

    <!-- Process Section -->
    <section class="process-section style-two">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg">
                <div class="cws-overlay-bg"></div>
            </div>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>SMART INSTALLATION</h2>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus. Fusce odio nulla, consectetur in sagittis eget, vulputate at lacus. Vivamus nulla massa, dictum quis purus</div>
            </div>

            <div class="row">
                <!-- Process BLock -->
                <div class="process-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box active">
                        <div class="icon-box">
                            <span class="process_line">
                                <span class="process_line_active"></span>
                                <span class="process_line_circle"></span>
                            </span>
                            <span class="icon flaticon-stopwatch"></span>
                        </div>
                        <h4>Step 1</h4>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis</div>
                    </div>
                </div>

                <!-- Process BLock -->
                <div class="process-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="process_line hide-sm">
                                <span class="process_line_active"></span>
                                <span class="process_line_circle"></span>
                            </span>
                            <span class="icon flaticon-settings-2"></span>
                        </div>
                        <h4>Step 2</h4>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis</div>
                    </div>
                </div>

                <!-- Process BLock -->
                <div class="process-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-calendar-3"></span></div>
                        <h4>Step 3</h4>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Process Section -->

    <!-- Fluid Section One -->
    <section class="fluid-section-one">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-triangle-overlay top-right"></div>
            <div class="cws-image-bg" style="background-image: url(https://via.placeholder.com/1920x800)">
                <div class="cws-overlay-bg"></div>
                <div class="cws-triangle-overlay"></div>
            </div>
            <div class="cws-triangle-overlay bottom-left"></div>
        </div>

        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-5 col-md-12 col-sm-12 offset-7">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>SMART CAMERA</h2>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus.</div>
                        </div>
                        <ul class="list-style-two">
                            <li>100% Wire-Free – Free of power cords</li>
                            <li>HD Video – Enjoy sharp, detailed video</li>
                            <li>Rechargeable – Long lasting batteries.</li>
                            <li>Quick Charging – Get fast battery charging</li>
                            <li>2-way Audio – Listen in or talk back.</li>
                        </ul>
                        <div class="btn-box"><a href="#" class="theme-btn btn-style-one large">Try it Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fluid Section One -->

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>CONTACT US DIRECTLY NOW</h2>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis accumsan mi nec elementum. Nulla ante metus, varius non condimentum id, molestie nec tellus. Fusce odio nulla, consectetur in sagittis eget, vulputate at lacus.</div>
            </div>

            <div class="default-form contact-form">
                <form action="#" method="post" id="email-form">
                    <div class="form-group mb-0">
                        <div class="response"></div>
                    </div>

                    <div class="form-group">
                        <label> Your Name (required)</label>
                        <input type="text" name="username" class="username">
                    </div>

                    <div class="form-group">
                        <label>Email (required)</label>
                        <input type="email" name="email" class="email">
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <textarea name="contact_message"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="theme-btn btn-style-three" type="button" id="submit" name="submit-form">Send</button>
                    </div>
                </form>
            </div>

            <div class="btn-box"><a href="#" class="theme-btn btn-style-one large">GET IN TOUCH</a></div>
        </div>
    </section>
    <!-- End Contact Section -->

{% endblock %}

{% block scripts %}
    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-alt-up"></span></div>

    <script src="{{ url_for('static', path='/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', path='/js/owl.js') }}"></script>
    <script src="{{ url_for('static', path='/js/wow.js') }}"></script>
    <script src="{{ url_for('static', path='/js/appear.js') }}"></script>
    <script src="{{ url_for('static', path='/js/knob.js') }}"></script>
    <script src="{{ url_for('static', path='/js/odometer.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
{% endblock %}